@import url('./jsClasses.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins, arial;
    user-select: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
nav{
    background-color: rgba(190, 12, 12, 0.384);
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}
nav .sider{
    height: 190px;
    background-color: rgba(0, 255, 191, 0.473);
    width: 100px;
    border-radius: 50% 0 0 50%;
    transform: translate(-20%, -40%) rotate(45deg);
    position: fixed;
}
.sider img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%) rotate(-45deg);
}
nav .sider img:hover{
    transform: translate(-30%, -40%)scale(1.1) rotate(-45deg);
    transition: 0.5s;
}
nav .about{
    position: absolute;
    color: aliceblue;
    font-weight: bolder;
    right: 18px;
    top: 30%;
    cursor: pointer;
}
main{
    padding-top: 50px;
}
main .container .levels .level img{
    height: 200px;
    width: 250px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
}
main .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .container .levels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(245, 29, 29);
    font-weight: 700;
}
main .container .levels .level .lev{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
main .container .levels .level{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}