@import url('./jsClasses.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}
.logo{
    animation: show 2s 1 linear;
}
meter::-webkit-meter-bar{
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 0;
}
meter::-webkit-meter-optimum-value{
    background-color: rgb(255, 102, 0)
}
meter{
    width: 60vw;
}
button{
    position: absolute;
    padding: 3px 19px;
    border: none;
    border-radius: 4px;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 145, 0);
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000;
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}