body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}
#config {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.329);
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
input[type="range"] {
  width: 100%;
  margin-bottom: 20px;
}
.radio {
  display: flex;
  justify-content: space-between;
}
.radio input {
  margin: 0;
}
#download {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
#download:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#download:active {
  transition: all 0.01s ease-in-out;
  transform: translateY(1px);
}
#config-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
#config-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#config-button:active {
  transition: all 0.01s ease-in-out;
  transform: translateY(1px);
}
#info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.479);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(40px);
}
#close-info {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
#close-info:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#close-info:active {
  transition: all 0.01s ease-in-out;
  transform: translateY(1px);
}
