@font-face {
  font-family: gameFont;
  src: url("/public/asserts/fonts/MonooLogo-Regular.ttf");
}
@font-face {
  font-family: NumericFont;
  src: url(/public/asserts/fonts/bold.otf);
}
@font-face {
  font-family: normalfont;
  src: url(/public/asserts/fonts/Poppins-Regular.ttf);
}
@import url("./utils.css");

:root{
      --container-size: 96vmin;
      --score-board-size: 30px;
      --container-shadow: 1px 1px 20px rgb(255, 255, 255); 
      --goti-size: 80%;
      --goti1-color: rgb(26, 25, 25);
      --goti2-color:  rgb(231, 216, 191);
      --light-cell-color: rgba(244, 220, 179, 0);
      --dark-cell-color: rgb(75, 54, 33);
      --color: rgb(255, 215, 0);
      --score-board-color: rgb(243, 203, 143);
      --popup-color: rgb(245, 223, 151);
      --btn-color: #ffffff5e;
}
    *{
      user-select: none;
      --webkit-user-select: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      transition: 0.1s ease-in-out;
    }
    body{
      background-color: #ababab;
      font-family: gameFont, sens-serif;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(/public/asserts/bg.png);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      row-gap: 3px;
    }
    button{
      background-color: transparent;
      border: none;
    }
    h1{
      position: absolute;
      font-family: gameFont;
      font-size: 1rem;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: #ffffff;
      z-index: 22;
      width: 100%;
      text-align: center;
      opacity: 0;
      text-shadow: 2px 2px 10px green;
      animation: popup 2s 1 linear;
    }
    .container{
      height: var(--container-size);
      width: var(--container-size);
      box-shadow: var(--container-shadow);
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 20px rgb(255, 255, 255);
      perspective-origin: 3d;
      /* transform: perspective(800px) rotateX(34deg) scale(0.9) translateY(-10%); */
      
      background-image: url(/public/asserts/boardtexture.png);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .row{
      flex-grow: 2;
      height: calc(400px/7);
      display: flex;
    }
    .column{
      height: calc(var(--container-size)/8);
      width: calc(var(--container-size)/8);      
    }
    .w{
      background-color: var(--dark-cell-color);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
      box-sizing: border-box;
      border-radius: 5px;
      cursor: grab;
    }
    .column:not(.w){
      background-color: var(--light-cell-color);
    }
    .goti1,.goti2{
      height: var(--goti-size);
      width: var(--goti-size);
      border-radius:50% ;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      /* border: 1.6px solid; */
      cursor: grabbing;
    }
    .goti1{
      background-color: var(--goti1-color);
      box-shadow: 0 0 5px var(--goti2-color) inset;
      color: var(--goti2-color);
    }
    .goti2{
      background-color: var(--goti2-color);
      box-shadow: 0 0 5px var(--goti1-color) inset;
      color: var(--goti1-color);
    }
.score-board{
    height: var(--score-board-size);
    width: var(--container-size);
    background-color: var(--score-board-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    padding: 5px;
    position: relative;
}

.gotimeter{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 9px;
}
.gotimeter .black .icon{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--goti1-color);
  box-shadow: 0 0 3px var(--goti2-color) inset;
}
.gotimeter .white .icon{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--goti2-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.274) inset;
}
.gotimeter .white, .gotimeter .black{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: NumericFont, Arial, Helvetica, sans-serif;
;
}
.gotiindicator{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.gotiindicator .sign{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--goti2-color);
  border: 2px solid grey;
}
.setting{
  display: flex;
  column-gap: 10px;
  padding-right: 2px;
}
#icon-setting{
  transform: translateY(2px);
  cursor: pointer;
  height: 15px;
}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: NumericFont, Arial, Helvetica, sans-serif;
}

.gameover-popup{
  background-color: var(--popup-color);
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 30px;
  min-width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 30px rgba(0, 0, 0, 0.377);
}
.gameover-popup .title{
  font-size: 2rem;
  text-align: center;
}
.gameover-popup .message{
  font-size: 0.8rem;
  font-family: normalfont;
  font-weight: 100;
  text-align: center;
  padding: 10px;
}
.gameover-popup .options{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 3px;
}
.gameover-popup button{
  padding: 10px 30px;
  text-align: center;
  font-size: larger;
  border-radius: 30px;
  background-color: var(--btn-color);
}
.gameover-popup button:hover{
  background-color: rgb(255, 253, 240);
  cursor: pointer;
}
.setting-panel{
  background-color: var(--popup-color);
  display: flex;
  padding: 14px;
  position: absolute;
  z-index: 1000;
  top: 50vh;
  transform: translateY(-50%);
  gap: 5px;
  box-shadow: 0px 10px 30px 30px rgba(0, 0, 0, 0.377);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}
.setting-panel img{
  height: 30px;
  cursor: pointer;
}
#volumn{
  transform: translateY(-1px) scale(1.2);
}
.setting-panel .btns:hover{
  background-color: rgb(255, 253, 240);
}
.setting-panel hr{
  margin-bottom: 10px;
}

.setting-panel .btns{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ababab;
  border-radius: 10px;
  background-color: var(--btn-color);
}
.setting-panel #title{
  display: flex;
  justify-content: space-between;
}
.setting-panel #title img{
  height: 12px;
}
.setting-btns{
  display: flex;
  column-gap: 9px;
}
@media (min-width: 600px) {
    body{
      flex-direction: row;
      row-gap: 0;
      column-gap: 3px;
    }
    .score-board{
      height: var(--container-size);
      width: calc( var(--score-board-size) + 10px);
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      flex-direction: column;
      padding-top: 10px;
    }
    .gotimeter, .gotimeter .white, .gotimeter .black{
      flex-direction: column;
      font-size: 1.1rem;
    }
    .gotimeter{
      row-gap: 10px;
    }
    .gotimeter .white .icon, .gotimeter .black .icon{
      height: 30px;
      width: 30px;
    }
    .timer{
      flex-direction: column;
      font-size: 1.2rem;
      font-weight: 900;
    }
    .timer .dot{
      display: none;
    }
    .gotiindicator{
      bottom: 110px;
    }
    .gotiindicator .sign{
      height: 30px;
      width: 30px;
    }
    .gotiName{
      display: none;
    }
    .setting{
      flex-direction: column;
    }
    #icon-setting{
      transform: translateX(2px);
      margin-top: 10px;
      height: 25px;
      margin-bottom: 4px;
    }
}