.warn{
    background-color: red;
}

.animate{
    animation: rotate 2s 1 linear;
}

.active{
    animation: activeGoti 0.5s infinite linear;
}

.hide{
    display: none !important;
}
@keyframes activeGoti {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotate {
    0%{
      transform: perspective(800px) scale(0.9) translateY(-10%);
    }
    100%{
        transform: perspective(800px) rotateX(34deg) scale(0.9) translateY(-10%) rotateZ(360deg) ;
    }
}

@keyframes popup{
    0%{
        opacity: 1;
        display: inline-block;
    }
    86%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        display: none;
    }
}