@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
@import url('./variables.css');
@import url('./animation.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #33333300;
}
::-webkit-scrollbar-thumb{
    background-color: #a07924;
    background-image: linear-gradient(rgb(255, 166, 0),rgba(2, 2, 2, 0.884));
    border-radius: 50px;
    cursor: grab;
}
::-webkit-scrollbar-thumb:active{
    cursor: grabbing;
}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
details{
    display: none;
}
summary{
    list-style: none;
    cursor: pointer;
}
header{
    padding: 3px;
    background-color: var(--h-bg);
    border-bottom: 2px groove var(--main-txt);
}
header .logo{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4px;
}

.logo h4{
    font-size: 0.8rem;
}
.logo p{
    font-size: 0.6rem;
}
.logo span{
    line-height: 14px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}
summary{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
summary:hover{
    background-color: #0000002c;
}

.nav-menu .options{
    background-color: var(--h-bg);
    position: absolute;
    right: 10px;
    top: 50px;
    padding: 4px;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.3s ease;
    z-index: 1;
    color: antiquewhite;
    width: 100px;
}
.nav-menu .options a{
    color: var(--main-txt);
}
.nav-menu a {
    display: block;
    color: #000000 !important;
    padding: 5px 7px;
    position: relative;
    transition: color 0.3s ease;
    width: 100%;
    transition: all 0.2s linear;
}

.nav-menu a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #a07924;
    position: absolute;
    bottom: -4px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-menu a:hover::after {
    transform: scaleX(1); 
}
.nav-menu *{
    overflow: hidden;
    white-space: nowrap;
}
.nav-menu a:hover {
    color: var(--quran-txt) !important;
    background-color: var(--quran-bg);
}

.loader{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #55545321;
    border-top: 5px solid #ffae00;
    border-bottom: 5px solid #ffae00;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50vh;
    left: 50vw;
    translate: -50% -50%;
}

.placeholder{
    position: absolute;
    font-size: 20rem;
    z-index: -1;
    top: 55vh;
    left: 50vw;
    translate: -50% -50%;
    color: #55545321;
    font-weight: 900;
    font-family: 'Tajawal', sans-serif;
    text-shadow: 0px 0px 10px #55545321;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}